.ecui-home__platform-area {
    background: #181b24;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.ecui-home__platform-area__bg {
    width: 1920px;
    height: 731px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 100%;
        height: 100%;
    }
}

.ecui-home__platform-area__bd {
    margin: 0 auto;
    width: 1200px;
}

.ecui-home__platform-area__hd,
.ecui-home__platform-area__bd,
.ecui-home__platform-area__ft {
    position: relative;
    z-index: 1;
}

.ecui-home__platform-area__title {
    font-size: 24px;
    line-height: 110px;
}

.ecui-home__platform-area__numb {
    padding: 0 .3em;
    color: #FE6321;
}

.ecui-home__platform-area__ft {
    margin-top: 19px;
    margin-bottom: 19px;
    font-size: 14px;
}

@media (max-width: 640px) {
    .ecui-home__platform-area__title {
        font-size: 20px;
        line-height: 60px;
    }

    .ecui-home__platform-area__ft {
        font-size: 12px;
    }

    .ecui-home__platform-area__bd {
        width: 100%;
    }
}

@import "./ecui-home__platform.less";