.ecui-home__platform__nav {
    display: inline-block;
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
}

.ecui-home__platform__nav__item {
    float: left;
    margin: 0 5px;
    width: 100px;
    height: 40px;
    background-color: #fff;
    background-image: url(../example/common/img/home/home_platform_logo.png);
    background-repeat: no-repeat;
    background-position-y: -16px;
    position: relative;
    transition: all .5s;

    &:hover,
    &_active {
        background-position-y: -83px;
        background-color: #00A4FF;
    }

    &_active::before {
        content: " ";
        margin-top: -12px;
        margin-left: -4px;
        border-width: 6px 4px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #00A4FF;
        position: absolute;
        top: 0;
        left: 50%;
    }
}

.ecui-home__platform__nav__item_01 {background-position-x: 5px;}
.ecui-home__platform__nav__item_02 {background-position-x: -120px;}
.ecui-home__platform__nav__item_03 {background-position-x: -235px;}
.ecui-home__platform__nav__item_04 {background-position-x: -356px;}
.ecui-home__platform__nav__item_05 {background-position-x: -478px;}
.ecui-home__platform__nav__item_06 {background-position-x: -598px;}
.ecui-home__platform__nav__item_07 {background-position-x: -715px;}
.ecui-home__platform__nav__item_08 {background-position-x: -835px;}
.ecui-home__platform__nav__item_09 {background-position-x: -956px;}
.ecui-home__platform__nav__item_10 {background-position-x: -1078px;}