.ecui-footer {
    background: #242A37;

    .ecui-flex__item {
        text-align: center;
    }

    .ecui-container {
        padding: 28px;
    }
}

@media (max-width: 640px) {
    .ecui-footer .ecui-container {
        padding: 15px 10px;
        overflow: hidden;
    }
}

@import "./ecui-footer__qrcode.less";
@import "./ecui-footer__info";
@import "./ecui-footer__media-box";
@import "./ecui-footer__miscs";