<footer class="ecui-footer">
    <div class="ecui-container">
        <div class="ecui-flex ecui-flex_align-center">
            <div class="ecui-footer__info">
                <div class="ecui-footer__info__hd">
                    <strong class="ecui-footer__info__title">关于易仓刊登Listing</strong>
                </div>
                <div class="ecui-footer__info__bd">
                    <p class="ecui-footer__info__desc">深圳市易仓科技有限公司一直致力于研发高效可控的跨境管理模式。精研跨境电商ERP、国际物流TMS、海外仓WMS和刊登Listing等管理系统。刊登Listing打通易仓ERP，真正解决一套产品资料，快速高效刊登到eBay、Wish、速卖通和亚马逊等平台。</p>
                </div>
            </div>
            <div class="ecui-flex__item">
                <div class="ecui-footer__info">
                    <div class="ecui-footer__info__hd">
                        <strong class="ecui-footer__info__title">联系我们</strong>
                    </div>
                    <div class="ecui-footer__info__bd">
                        <div class="ecui-footer__media-box ecui-float-left ecui-mb-10">
                            <div class="ecui-footer__media-box__hd">
                                <img class="ecui-footer__media-box__thumb" src="./common/img/footer/icon_footer_tel.png" alt="">
                            </div>
                            <div class="ecui-footer__media-box__bd">
                                <p class="ecui-footer__media-box__title">固定电话</p>
                                <p class="ecui-footer__media-box__desc">0755-86528003</p>
                            </div>
                        </div>
                        <div class="ecui-footer__media-box ecui-float-right ecui-mb-10">
                            <div class="ecui-footer__media-box__hd">
                                <img class="ecui-footer__media-box__thumb" src="./common/img/footer/icon_footer_qq.png" alt="">
                            </div>
                            <div class="ecui-footer__media-box__bd">
                                <p class="ecui-footer__media-box__title">QQ</p>
                                <p class="ecui-footer__media-box__desc">3388134103</p>
                            </div>
                        </div>
                        <div class="ecui-footer__media-box ecui-float-left">
                            <div class="ecui-footer__media-box__hd">
                                <img class="ecui-footer__media-box__thumb" src="./common/img/footer/icon_footer_clock.png" alt="">
                            </div>
                            <div class="ecui-footer__media-box__bd">
                                <p class="ecui-footer__media-box__title">手机&微信</p>
                                <p class="ecui-footer__media-box__desc">158-6816-0577</p>
                            </div>
                        </div>
                        <div class="ecui-footer__media-box ecui-float-right">
                            <div class="ecui-footer__media-box__hd">
                                <img class="ecui-footer__media-box__thumb" src="./common/img/footer/icon_footer_email.png" alt="">
                            </div>
                            <div class="ecui-footer__media-box__bd">
                                <p class="ecui-footer__media-box__title">邮箱</p>
                                <p class="ecui-footer__media-box__desc">hb@eccang.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ecui-footer__qrcode">
                <img src="./common/img/footer/qrcode.png" alt="">
            </div>
        </div>
    </div>
    <div class="ecui-footer__miscs">
        <p>Copyright 2013©深圳易仓科技有限公司.All Rights Reserved</p>
        <a href="javascript:;">粤ICP备13020851号</a>
    </div>
</footer>