<header class="ecui-header ecui-header_transparent ecui-header_fix">
    <div class="ecui-container">
        <div class="ecui-titlebar">
            <div class="ecui-titlebar__hd">
                <img src="./common/img/header/logo_transparent.png" alt="">
                <div class="ecui-titlebar__title">刊登系统（EC Listing）</div>
            </div>
            <div class="ecui-titlebar__nav">
                <a class="ecui-titlebar__nav__item ecui-titlebar__nav__item_active" href="index.html">首页</a>
                <div class="ecui-titlebar__nav__item">产品功能</div>
                <a class="ecui-titlebar__nav__item" href="价格.html">价格</a>
                <div class="ecui-titlebar__nav__item">帮助中心</div>
            </div>
            <div class="ecui-titlebar__other">
                <a class="ecui-titlebar__btn ecui-titlebar__btn_link" href="javascript:;">登陆</a>
                <a class="ecui-titlebar__btn ecui-titlebar__btn_primary" href="javascript:;">免费试用</a>
            </div>
        </div>
    </div>
</header>

<script>
    $(window).on('scroll', function() {
        var scrollTop = $(this).scrollTop()
        if (scrollTop === 0) {
            $('.ecui-header_fix').removeAttr('style')
        } else {
            $('.ecui-header_fix').css('background', '#242a37')
        }
    })
</script>