<header class="ecui-header ecui-header_fix">
    <div class="ecui-container">
        <div class="ecui-titlebar ecui-titlebar_default">
            <div class="ecui-titlebar__hd">
                <img class="ecui-titlebar__logo" src="./common/img/header/logo.png" alt="">
                <div class="ecui-titlebar__title">刊登系统（EC Listing）</div>
            </div>
            <div class="ecui-titlebar__bd">
                <div class="ecui-titlebar__nav">
                    <a class="ecui-titlebar__nav__item" href="index.html">首页</a>
                    <a class="ecui-titlebar__nav__item" href="index.html#main">产品功能</a>
                    <a class="ecui-titlebar__nav__item ecui-titlebar__nav__item_active" href="javascript:;">价格</a>
                    <div class="ecui-titlebar__nav__item">帮助中心</div>
                </div>
                <div class="ecui-titlebar__other">
                    <a class="ecui-titlebar__btn ecui-titlebar__btn_link" href="javascript:;">登录</a>
                    <a class="ecui-titlebar__btn ecui-titlebar__btn_primary" href="javascript:;">免费试用</a>
                </div>
            </div>
            <div class="ecui-titlebar__menu">
                <i class="ecui-icon ecui-icon-menu"></i>
            </div>
        </div>
    </div>
</header>
<div style="height: 75px;"></div>

<script>
    $('.ecui-header').on('click', '.ecui-titlebar__menu', function () {
        $('.ecui-titlebar__bd').toggle()
    })
</script>
