
<div class="ecui-home__platform-area">
    <div class="ecui-home__platform-area__bg">
        <img src="./common/img/home/home_platform_bg.png" alt="">
    </div>
    <div class="ecui-home__platform-area__hd">
        <p class="ecui-home__platform-area__title">支持<span class="ecui-home__platform-area__numb">10+</span>平台，主流站点刊登</p>
    </div>
    <div class="ecui-home__platform-area__bd">
        <div class="ecui-home__platform">
            <div class="ecui-home__platform__panel">
                <!-- point list -->
                <img src="./common/img/home/home_platform_map.png" alt="">
                <span class="ecui-home__platform__title">不区分站点</span>
            </div>
            <div class="ecui-home__platform__nav">
                <a class="ecui-home__platform__nav__prev">
                    <i class="ecui-icon-arrow-left"></i>
                </a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_01" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_02" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_03" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_04" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_05" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_06" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_07" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_08" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_09" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__item ecui-home__platform__nav__item_10" href="javascript:;"></a>
                <a class="ecui-home__platform__nav__next">
                    <i class="ecui-icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="ecui-home__platform-area__ft">更多平台对接中......</div>
</div>

<script>
    var pointList = [
        [
            { name: '加拿大', top: 102, left: 226 },
            { name: '美国', top: 167, left: 276 },
            { name: '爱尔兰', top: 95, left: 500 },
            { name: '英国', top: 106, left: 515 },
            { name: '西班牙', top: 137, left: 529 },
            { name: '比利时', top: 108, left: 546 },
            { name: '意大利', top: 150, left: 573 },
            { name: '法国', top: 126, left: 578 },
            { name: '荷兰', top: 97, left: 586 },
            { name: '德国', top: 115, left: 600 },
            { name: '波兰', top: 106, left: 600 },
            { name: '印度', top: 225, left: 756 },
            { name: '马来西亚', top: 300, left: 837 },
            { name: '新加坡', top: 316, left: 853 },
            { name: '香港', top: 222, left: 865 },
            { name: '菲律宾', top: 304, left: 933 },
            { name: '澳大利亚', top: 413, left: 973 },
        ],
        [
            { name: '加拿大', top: 102, left: 226 },
            { name: '美国', top: 167, left: 276 },
            { name: '英国', top: 106, left: 515 },
            { name: '西班牙', top: 137, left: 529 },
            { name: '意大利', top: 150, left: 573 },
            { name: '法国', top: 126, left: 578 },
            { name: '德国', top: 115, left: 600 },
            { name: '日本', top: 162, left: 955 },
            { name: '澳大利亚', top: 413, left: 973 },
        ],
        [ ],
        [ ],
        [
            { name: '马来西亚', top: 300, left: 837 },
            { name: '新加坡', top: 316, left: 853 },
            { name: '泰国', top: 228, left: 829 },
            { name: '越南', top: 247, left: 857 },
            { name: '印尼', top: 307, left: 880 },
            { name: '菲律宾', top: 304, left: 943 },
        ],
        [
            { name: '泰国', top: 228, left: 829 },
            { name: '越南', top: 247, left: 857 },
            { name: '马来西亚', top: 300, left: 837 },
            { name: '新加坡', top: 316, left: 853 },
            { name: '印尼', top: 307, left: 880 },
            { name: '菲律宾', top: 304, left: 943 },
            { name: '台湾', top: 207, left: 892 },
        ],
        [ ],
        [
            { name: '美国', top: 167, left:276 },
        ]
    ]
    var pointPage = 0
    var pointIndex = 0
    function initPoint() {
        var current = pointList[pointIndex]

        $('.ecui-home__platform__panel').html('<img src="./common/img/home/home_platform_map.png" alt="">')
        if (current && current.length) {
            var scale = $('.ecui-home__platform__panel').width() / 1100
            $.each(current || [], function (index, item) {
                var top = item.top * scale - 50
                var left = item.left * scale - 50
                $([
                    '<div class="ecui-home__platform__point">',
                        '<span class="ecui-home__platform__point__name">',
                            item.name,
                        '</span>',
                        '<i class="ecui-home__platform__point__dot"></i>',
                        '<i class="ecui-point ecui-point_1"></i>',
                        '<i class="ecui-point ecui-point_4"></i>',
                        '<i class="ecui-point ecui-point_7 ecui-point_shadow"></i>',
                    '</div>'
                ].join(''))
                    .css({ top: top, left: left })
                    .appendTo($('.ecui-home__platform__panel'))
            })
        } else {
            $('<span class="ecui-home__platform__title">不区分站点</span>')
                .appendTo($('.ecui-home__platform__panel'))
        }
    }
    function initPointPage() {
        var index = pointPage * 4
        $('.ecui-home__platform__nav__item').hide()
        $('.ecui-home__platform__nav__item').eq(index + 0).show()
        $('.ecui-home__platform__nav__item').eq(index + 1).show()
        $('.ecui-home__platform__nav__item').eq(index + 2).show()
        $('.ecui-home__platform__nav__item').eq(index + 3).show()
    }
    $('.ecui-home__platform-area').on('click', '.ecui-home__platform__nav__item', function () {
        pointIndex = $(this).index()
        $(this).addClass('ecui-home__platform__nav__item_active')
            .siblings().removeClass('ecui-home__platform__nav__item_active')
            initPoint()
    }).on('click', '.ecui-home__platform__nav__prev', function () {
        pointPage = pointPage - 1 >= 0 ? pointPage - 1 : 0
        initPointPage()
    }).on('click', '.ecui-home__platform__nav__next', function () {
        pointPage = pointPage + 1 <= 2 ? pointPage + 1 : 2
        initPointPage()
    })

    // init event
    $('.ecui-home__platform-area').find('.ecui-home__platform__nav__item:eq(0)').trigger('click')

    $(window).resize(function () {
        initPoint()

        if ($(window).width() > 640) {
            $('.ecui-home__platform__nav__item').show()
        } else {
            initPointPage()
        }
    })
</script>
