<div class="ecui-tab" id="home-main">
    <ul class="ecui-tab__nav">
        <li class="ecui-tab__nav__item ecui-tab__nav__item_active">
            <a href="javascript:;">核心功能</a>
        </li>
        <li class="ecui-tab__nav__item">
            <a href="javascript:;">平台特色功能</a>
        </li>
        <li class="ecui-tab__nav__item">
            <a href="javascript:;">极致体验</a>
        </li>
    </ul>
    <div class="ecui-container">
        <!-- 核心功能 -->
        <div class="ecui-tab__page ecui-tab__page_in">
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_01_01.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">爆款开发</strong>
                    <p class="ecui-home__section__desc">卖家选品利器，根据卖家选品条件从Amazon、Aliexpress、eBay、wish 4大主流平台爬取爆款产品和销售数据，卖家通过数据分析进行快速高效的选品</p>
                </div>
            </div>
            <div class="ecui-home__section">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">货源匹配</strong>
                    <p class="ecui-home__section__desc">在线找货源，铺货型卖家通过采集回来的产品图片或关键词线上寻找同款或相似产品，直接下单采购或接到订单后厂家一键代发</p>
                </div>
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_01_02.png" alt="">
            </div>
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_01_03.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">产品搬家</strong>
                    <p class="ecui-home__section__desc">同一个产品快速发布到不同平台不同店铺，一键搬家同步产品资料无需多次编辑</p>
                </div>
            </div>
            <div class="ecui-home__section">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">一键翻译</strong>
                    <p class="ecui-home__section__desc">对接百度、谷歌翻译，产品发布到不同的站点时产品资料一键自动翻译为对应站点语种</p>
                </div>
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_01_04.png" alt="">
            </div>
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_01_05.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">通用模板设置</strong>
                    <p class="ecui-home__section__desc">针对平台、站点、店铺可设置固定的政策模板、描述模板、刊登模板等，编辑生成平台草稿时自动套用关联模板，无需重复编辑实现快速刊登</p>
                </div>
            </div>
            <div class="ecui-home__section">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">产品自动匹配图片</strong>
                    <p class="ecui-home__section__desc">批量上传图片，设置产品图片时图片代码前缀自动匹配产品SKU ，无需单独手动设置图片；系统自动生成新的图片链接，打乱关键词防止店铺关联</p>
                </div>
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_01_06.png" alt="">
            </div>
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_01_07.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">产品、类目映射</strong>
                    <p class="ecui-home__section__desc">系统分类关联平台类目，编辑产品资料时根据系统分类自动带出平台类目产品平台SKU和系统SKU自动生成映射关系，支持导出和推送到易仓ERP系统</p>
                </div>
            </div>
            <div class="ecui-home__section">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">定时刊登</strong>
                    <p class="ecui-home__section__desc">设置刊登日程，可根据站点时区时间设置循环刊登周期或批量刊登时间，实现产品的定时上下架</p>
                </div>
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_01_08.png" alt="">
            </div>
        </div>

        <!-- 平台特色功能 -->
        <div class="ecui-tab__page">
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_02_01.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">eBay特色功能</strong>
                    <p class="ecui-home__section__desc">
                        <ul class="ecui-home__list">
                            <li class="ecui-icon-circle-check">常用组合模板直接套用</li>
                            <li class="ecui-icon-circle-check">自动规则智能管理在线listing</li>
                            <li class="ecui-icon-circle-check">关联营销</li>
                            <li class="ecui-icon-circle-check">eBay广告、则扣</li>
                            <li class="ecui-icon-circle-check">议价管理</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="ecui-home__section">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">Amazon特色功能</strong>
                    <p class="ecui-home__section__desc">
                        <ul class="ecui-home__list">
                            <li class="ecui-icon-circle-check">批量上传产品</li>
                            <li class="ecui-icon-circle-check">产品更新审核</li>
                            <li class="ecui-icon-circle-check">品牌备案设置</li>
                            <li class="ecui-icon-circle-check">Amazezon广告</li>
                            <li class="ecui-icon-circle-check">跟卖追踪</li>
                            <li class="ecui-icon-circle-check">产品监控</li>
                            <li class="ecui-icon-circle-check">黄金关键词</li>
                            <li class="ecui-icon-circle-check">ASIN报告（A9数据）</li>
                        </ul>
                    </p>
                </div>
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_02_02.png" alt="">
            </div>
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_02_03.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">Wish特色功能</strong>
                    <p class="ecui-home__section__desc">
                        <ul class="ecui-home__list">
                            <li class="ecui-icon-circle-check">wish PB广告管理</li>
                            <li class="ecui-icon-circle-check">引用Wish，Joom在线产品直接刊登</li>
                            <li class="ecui-icon-circle-check">刊登日程管理</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="ecui-home__section">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">Aliexpress特色功能</strong>
                    <p class="ecui-home__section__desc">
                        <ul class="ecui-home__list">
                            <li class="ecui-icon-circle-check">设置常用模板</li>
                            <li class="ecui-icon-circle-check">同步图片银行</li>
                            <li class="ecui-icon-circle-check">延长商品有效期</li>
                            <li class="ecui-icon-circle-check">刊登日程管理</li>
                        </ul>
                    </p>
                </div>
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_02_04.png" alt="">
            </div>
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_02_05.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">Walmart特色功能</strong>
                    <p class="ecui-home__section__desc">
                        <ul class="ecui-home__list">
                            <li class="ecui-icon-circle-check">帮助Walmart卖家便捷进行多账号管理、快速高效的发布产品和管理在线产品</li>
                            <li class="ecui-icon-circle-check">目前市场上的刊登工具基本上都还没有对接Walmart平台</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <!-- 极致体验 -->
        <div class="ecui-tab__page">
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_03_01.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">产品ID号码池</strong>
                    <p class="ecui-home__section__desc">批量导入UPC、EAN、ISBN到号码池，上架产品时系统自动选取</p>
                </div>
            </div>
            <div class="ecui-home__section">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">图片中心</strong>
                    <p class="ecui-home__section__desc">上传图片、快速搜索图片、批量修改/删除，还可以为图片添加水印</p>
                </div>
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_03_02.png" alt="">
            </div>
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_03_03.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">SKU生成规则</strong>
                    <p class="ecui-home__section__desc">设置生成规则，可减少人脑记住不同平台和店铺的SKU格式，及人工输入SKU</p>
                </div>
            </div>
            <div class="ecui-home__section">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">SKU关系映射</strong>
                    <p class="ecui-home__section__desc">设置生成规则，可减少人脑记住不同平台和店铺的SKU格式，及人工输入SKU</p>
                </div>
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_03_04.png" alt="">
            </div>
            <div class="ecui-home__section">
                <img class="ecui-home__section__thumb" src="./common//img/home/home_section_03_05.png" alt="">
                <div class="ecui-home__section__info">
                    <strong class="ecui-home__section__title">售价计算规则</strong>
                    <p class="ecui-home__section__desc">以账号和站点的维度，设置不同的售价规则，自动应用于SKU平台零售价。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.ecui-tab').on('click', '.ecui-tab__nav__item', function () {
        var index = $(this).index()

        $(this).addClass('ecui-tab__nav__item_active')
            .siblings().removeClass('ecui-tab__nav__item_active')

        $('.ecui-tab__page', '.ecui-tab')
            .eq(index).addClass('ecui-tab__page_in')
            .siblings().removeClass('ecui-tab__page_in')
    })

    $('.ecui-home__section').addClass('ecui-animated')

    $(window).on('scroll.cl.home-main', function() {
        var scrollTop = $(this).scrollTop()
        $('#home-main .ecui-tab__page_in .ecui-home__section').each(function() {
            if (scrollTop > $(this).offset().top - $(window).height() + 360 / 2) {
                $(this).addClass('ecui-animated_fadeInDown')
            }
        })
    })
</script>