<div class="ecui-container">
    <div class="ecui-home__panel">
        <div class="ecui-home__panel__hd">
            <p class="ecui-home__panel__title">人工刊登<span>VS</span>易仓刊登</p>
        </div>
        <div class="ecui-home__panel__bd">
            <!-- 效率 -->
            <div class="ecui-home__panel__item">
                <div class="ecui-home__panel__left">
                    <i class="ecui-icon-arrow-right-o"></i>
                    <p>同一个店铺人工刊登10000个Listing，预估用时<numb>500</numb>小时</p>
                </div>
                <div class="ecui-home__panel__main">
                    <i class="ecui-icon-efficiency"></i>
                    <p>效率</p>
                </div>
                <div class="ecui-home__panel__right">
                    <i class="ecui-icon-check"></i>
                    <p>同一个店铺刊登10000个Listing仅需<numb>50</numb>小时</p>
                </div>
            </div>

            <!-- 成本 -->
            <div class="ecui-home__panel__item">
                <div class="ecui-home__panel__left">
                    <i class="ecui-icon-arrow-right-o"></i>
                    <p>假设每人每天工作8小时，同一个店铺刊登10000个Listing需<numb>62.5</numb>人天</p>
                </div>
                <div class="ecui-home__panel__main">
                    <i class="ecui-icon-cost"></i>
                    <p>成本</p>
                </div>
                <div class="ecui-home__panel__right">
                    <i class="ecui-icon-check"></i>
                    <p>同一个店铺刊登10000个Listing仅需<numb>6.25</numb>人天</p>
                </div>
            </div>

            <!-- 多语种 -->
            <div class="ecui-home__panel__item">
                <div class="ecui-home__panel__left">
                    <i class="ecui-icon-arrow-right-o"></i>
                    <p>不同站点不同语种，对运营人员的语言水平有极高的要求</p>
                </div>
                <div class="ecui-home__panel__main">
                    <i class="ecui-icon-global"></i>
                    <p>多语种</p>
                </div>
                <div class="ecui-home__panel__right">
                    <i class="ecui-icon-check"></i>
                    <p>对接谷歌、百度翻译实现一键翻译功能，轻松搞定语言问题</p>
                </div>
            </div>

            <!-- 多店铺 -->
            <div class="ecui-home__panel__item">
                <div class="ecui-home__panel__left">
                    <i class="ecui-icon-arrow-right-o"></i>
                    <p>为避免账号关联，需不同远程连接登录不同店铺账号操作繁杂</p>
                </div>
                <div class="ecui-home__panel__main">
                    <i class="ecui-icon-shop"></i>
                    <p>多店铺</p>
                </div>
                <div class="ecui-home__panel__right">
                    <i class="ecui-icon-check"></i>
                    <p>一个刊登Listing账号授权多店铺高效管理店铺运营刊登产品</p>
                </div>
            </div>

            <!-- 多平台 -->
            <div class="ecui-home__panel__item">
                <div class="ecui-home__panel__left">
                    <i class="ecui-icon-arrow-right-o"></i>
                    <p>不同平台之间产品资料人工录入效率低，易出错，费时费力</p>
                </div>
                <div class="ecui-home__panel__main">
                    <i class="ecui-icon-platform"></i>
                    <p>多平台</p>
                </div>
                <div class="ecui-home__panel__right">
                    <i class="ecui-icon-check"></i>
                    <p>一个刊登Listing账号授权多平台多账号，且可在线产品搬家，提升信息管理和操作效益</p>
                </div>
            </div>
            
            <!-- 智能 -->
            <div class="ecui-home__panel__item">
                <div class="ecui-home__panel__left">
                    <i class="ecui-icon-arrow-right-o"></i>
                    <p>人工手动刊登，补货，调价，耗时耗力效率低</p>
                </div>
                <div class="ecui-home__panel__main">
                    <i class="ecui-icon-intelligent"></i>
                    <p>智能</p>
                </div>
                <div class="ecui-home__panel__right">
                    <i class="ecui-icon-check"></i>
                    <p>基于规则自定义定时刊登，自动补货，智能调价，省时省力效率高</p>
                </div>
            </div>
        </div>
    </div>
</div>