<div class="ecui-tab" id="main">
    <ul class="ecui-tab__nav">
        <li class="ecui-tab__nav__item ecui-tab__nav__item_active">
            <a href="javascript:;">刊登套餐服务</a>
        </li>
        <li class="ecui-tab__nav__item">
            <a href="javascript:;">爆款开发引擎套餐</a>
        </li>
    </ul>
    <div class="ecui-container">
        <!-- 刊登套餐服务 -->
        <div class="ecui-tab__page ecui-tab__page_in">
            <div class="ecui-flex">
                <div class="ecui-flex__item">
                    <div class="ecui-home__package ecui-home__package_1">
                        <div class="ecui-home__package__hd">
                            <p class="ecui-home__package__title">免费版（14天）</p>
                            <p class="ecui-home__package__desc">(适用企业：不限)</p>
                            <div class="ecui-home__package__price">
                                <p class="ecui-home__package__price__free">免费</p>
                            </div>
                        </div>

                        <div class="ecui-home__package__btn-area">
                            <a class="ecui-home__package__btn" href="javascript:;">立即注册</a>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>套餐额度</p>
                            <ul class="ecui-home__package__list">
                                <li>在线Listing <span class="ecui-text-highlight">5,000</span> 个</li>
                                <li><span class="ecui-text-highlight">2</span> 个店铺数/平台限制</li>
                                <li><span class="ecui-text-highlight">2</span> 个用户数</li>
                                <li><span class="ecui-text-highlight">1G</span> 图片空间<br><br></li>
                                
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>刊登平台</p>
                            <ul class="ecui-home__package__platform-list">
                                <li class="ecui-home__package__platform ecui-home__package__platform_ebay"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_amazeon"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_wish"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_aliexpress"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_lazada"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_shopee"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_joom"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_fyndiq"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_likeshop"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_walmart"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_alobom"></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>精品应用</p>
                            <ul class="ecui-home__package__list">
                                <li>一键翻译 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>eBay关联营销 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>eBay自动补货 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>eBay自动重复刊登 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>刊登模板 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>产品搬家 <span class="ecui-text-highlight">(限免)</span></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>产品采集</p>
                            <ul class="ecui-home__package__list">
                                <li>易仓盒子</li>
                                <li>爆款开发(免费采集10个产品)<br><br></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>客服服务</p>
                            <ul class="ecui-home__package__list">
                                <li>仅支持工单客服<br><br></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ecui-flex__item">
                    <div class="ecui-home__package ecui-home__package_2">
                        <div class="ecui-home__package__hd">
                            <p class="ecui-home__package__title">高级版</p>
                            <p class="ecui-home__package__desc">(适用企业：小型)</p>
                            <div class="ecui-home__package__price">
                                <p class="ecui-home__package__price__label">
                                    <span class="ecui-home__package__price__numb">9,999</span>元/年
                                </p>
                            </div>
                        </div>
                        <div class="ecui-home__package__btn-area">
                            <a class="ecui-home__package__btn" href="javascript:;">立即购买</a>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>套餐额度</p>
                            <ul class="ecui-home__package__list">
                                <li>在线Listing <span class="ecui-text-highlight">40,000</span> 个</li>
                                <li><span class="ecui-text-highlight">200</span> 个店铺数/平台限制</li>
                                <li><span class="ecui-text-highlight">不限</span> 用户数</li>
                                <li><span class="ecui-text-highlight">10G</span> 图片空间</li>
                                <li>图片空间扩容 <span class="ecui-text-highlight">￥50</span> G/月/元</li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>刊登平台</p>
                            <ul class="ecui-home__package__platform-list">
                                <li class="ecui-home__package__platform ecui-home__package__platform_ebay"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_amazeon"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_wish"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_aliexpress"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_lazada"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_shopee"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_joom"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_fyndiq"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_likeshop"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_walmart">
                                    <span class="ecui-home__package__platform__tag"></span>
                                </li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_alobom">
                                    <span class="ecui-home__package__platform__tag"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>精品应用</p>
                            <ul class="ecui-home__package__list">
                                <li>一键翻译 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>eBay关联营销 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>eBay自动补货 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>eBay自动重复刊登 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>刊登模板 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>产品搬家 <span class="ecui-text-highlight">(限免)</span></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>产品采集</p>
                            <ul class="ecui-home__package__list">
                                <li>易仓盒子</li>
                                <li>
                                    爆款开发(免费采集10个产品)
                                    <br><span class="ecui-text-link">付费开通</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>客服服务</p>
                            <ul class="ecui-home__package__list">
                                <li>
                                    <span class="ecui-text-link">在线支持<br><br></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ecui-flex__item">
                    <div class="ecui-home__package ecui-home__package_3">
                        <div class="ecui-home__package__hd">
                            <p class="ecui-home__package__title">旗舰版</p>
                            <p class="ecui-home__package__desc">(适用企业：中型)</p>
                            <div class="ecui-home__package__price">
                                <p class="ecui-home__package__price__label">
                                    <span class="ecui-home__package__price__numb">19,999</span>元/年
                                </p>
                            </div>
                        </div>
                        <div class="ecui-home__package__btn-area">
                            <a class="ecui-home__package__btn" href="javascript:;">立即购买</a>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>套餐额度</p>
                            <ul class="ecui-home__package__list">
                                <li>在线Listing <span class="ecui-text-highlight">100,000</span> 个</li>
                                <li><span class="ecui-text-highlight">不限</span> 店铺数/平台限制</li>
                                <li><span class="ecui-text-highlight">不限</span> 用户数</li>
                                <li><span class="ecui-text-highlight">20G</span> 图片空间</li>
                                <li>图片空间扩容 <span class="ecui-text-highlight">￥45</span> G/月/元</li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>刊登平台</p>
                            <ul class="ecui-home__package__platform-list">
                                <li class="ecui-home__package__platform ecui-home__package__platform_ebay"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_amazeon"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_wish"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_aliexpress"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_lazada"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_shopee"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_joom"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_fyndiq"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_likeshop"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_walmart"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_alobom"></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>精品应用</p>
                            <ul class="ecui-home__package__list">
                                <li>一键翻译 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>eBay关联营销</li>
                                <li>eBay自动补货</li>
                                <li>eBay自动重复刊登</li>
                                <li>刊登模版</li>
                                <li>产品搬家</li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>产品采集</p>
                            <ul class="ecui-home__package__list">
                                <li>易仓盒子</li>
                                <li>
                                    爆款开发(免费采集10个产品)
                                    <br><span class="ecui-text-link">付费开通</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>客服服务</p>
                            <ul class="ecui-home__package__list">
                                <li>
                                    <span class="ecui-text-link">在线支持<br><br></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ecui-flex__item">
                    <div class="ecui-home__package ecui-home__package_4">
                        <div class="ecui-home__package__hd">
                            <p class="ecui-home__package__title">企业版</p>
                            <p class="ecui-home__package__desc">(适用企业：中大型)</p>
                            <div class="ecui-home__package__price">
                                <p class="ecui-home__package__price__label">
                                    <span class="ecui-home__package__price__numb">39,999</span>元/年
                                </p>
                            </div>
                        </div>
                        <div class="ecui-home__package__btn-area">
                            <a class="ecui-home__package__btn" href="javascript:;">立即购买</a>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>套餐额度</p>
                            <ul class="ecui-home__package__list">
                                <li>在线Listing <span class="ecui-text-highlight">300,000</span> 个</li>
                                <li><span class="ecui-text-highlight">不限</span> 店铺数/平台限制</li>
                                <li><span class="ecui-text-highlight">不限</span> 用户数</li>
                                <li><span class="ecui-text-highlight">50G</span> 图片空间</li>
                                <li>图片空间扩容 <span class="ecui-text-highlight">￥35</span> G/月/元</li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>刊登平台</p>
                            <ul class="ecui-home__package__platform-list">
                                <li class="ecui-home__package__platform ecui-home__package__platform_ebay"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_amazeon"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_wish"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_aliexpress"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_lazada"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_shopee"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_joom"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_fyndiq"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_likeshop"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_walmart"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_alobom"></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>精品应用</p>
                            <ul class="ecui-home__package__list">
                                <li>一键翻译 <span class="ecui-text-highlight">(限免)</span></li>
                                <li>eBay关联营销</li>
                                <li>eBay自动补货</li>
                                <li>eBay自动重复刊登</li>
                                <li>刊登模版</li>
                                <li>产品搬家</li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>产品采集</p>
                            <ul class="ecui-home__package__list">
                                <li>易仓盒子</li>
                                <li>
                                    爆款开发(免费采集10个产品)
                                    <br><span class="ecui-text-link">付费开通</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>客服服务</p>
                            <ul class="ecui-home__package__list">
                                <li>
                                    <span class="ecui-text-link">在线/电话支持</span>
                                </li>
                                <li>专属客服经理</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ecui-flex__item">
                    <div class="ecui-home__package ecui-home__package_5">
                        <div class="ecui-home__package__hd">
                            <p class="ecui-home__package__title">定制版</p>
                            <p class="ecui-home__package__desc">(适用企业：中大型)</p>
                            <div class="ecui-home__package__price">
                                <p class="ecui-home__package__price__label">企业版+服务器+图片空间+单独部署费用</p>
                            </div>
                        </div>
                        <div class="ecui-home__package__btn-area">
                            <a class="ecui-home__package__btn" href="javascript:;">详询销售</a>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>套餐额度</p>
                            <ul class="ecui-home__package__list">
                                <li>在线Listing <span class="ecui-text-highlight">不限</span></li>
                                <li><span class="ecui-text-highlight">不限</span> 店铺数/平台限制</li>
                                <li><span class="ecui-text-highlight">不限</span> 用户数</li>
                                <li>图片空间 <span class="ecui-text-link">详询销售</span></li>
                                <li>图片空间扩容 <span class="ecui-text-link">详询销售</span></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>刊登平台</p>
                            <ul class="ecui-home__package__platform-list">
                                <li class="ecui-home__package__platform ecui-home__package__platform_ebay"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_amazeon"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_wish"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_aliexpress"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_lazada"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_shopee"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_joom"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_fyndiq"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_likeshop"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_walmart"></li>
                                <li class="ecui-home__package__platform ecui-home__package__platform_alobom"></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>精品应用</p>
                            <ul class="ecui-home__package__list">
                                <li>一键翻译 <span class="ecui-text-link">详询销售</span></li>
                                <li>eBay关联营销</li>
                                <li>eBay自动补货</li>
                                <li>eBay自动重复刊登</li>
                                <li>刊登模版</li>
                                <li>产品搬家</li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>产品采集</p>
                            <ul class="ecui-home__package__list">
                                <li>易仓盒子</li>
                                <li>
                                    爆款开发
                                    <br><span class="ecui-text-link">详询销售</span>
                                </li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p>客服服务</p>
                            <ul class="ecui-home__package__list">
                                <li>
                                    <span class="ecui-text-link">在线/电话支持</span>
                                </li>
                                <li>专属客服经理</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 爆款开发引擎套餐 -->
        <div class="ecui-tab__page">
            <div class="ecui-flex">
                <div class="ecui-flex__item">
                    <div class="ecui-home__package ecui-home__package_1">
                        <div class="ecui-home__package__hd">
                            <p class="ecui-home__package__title">Amazeon版本</p>
                            <p class="ecui-home__package__desc">爬虫批量采集+大数据分析</p>
                            <div class="ecui-home__package__price">
                                <p class="ecui-home__package__price__label">
                                    <span class="ecui-home__package__price__numb">29,999</span>元/年
                                    <br>
                                    <small>每月价格：￥3,000 元/年</small>
                                </p>
                            </div>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p class="ecui-text-justify">
                                <span class="ecui-inline-block ecui-align-middle">采集平台：</span>
                                <i class="ecui-home__package__platform ecui-home__package__platform_amazeon"></i>
                            </p>
                            <ul class="ecui-home__package__list">
                                <li>产品采集数量（个/月）<span class="ecui-text-highlight ecui-float-right">8,000</span></li>
                                <li>产品采集数量（个/年）<span class="ecui-text-highlight ecui-float-right">100,000</span></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__btn-area">
                            <a class="ecui-home__package__btn" href="javascript:;">立即开通</a>
                        </div>
                    </div>
                </div>
                <div class="ecui-flex__item">
                    <div class="ecui-home__package ecui-home__package_2">
                        <div class="ecui-home__package__hd">
                            <p class="ecui-home__package__title">eBay版本</p>
                            <p class="ecui-home__package__desc">爬虫批量采集+大数据分析</p>
                            <div class="ecui-home__package__price">
                                <p class="ecui-home__package__price__label">
                                    <span class="ecui-home__package__price__numb">29,999</span>元/年
                                    <br>
                                    <small>每月价格：￥3,000 元/年</small>
                                </p>
                            </div>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p class="ecui-text-justify">
                                <span class="ecui-inline-block ecui-align-middle">采集平台：</span>
                                <i class="ecui-home__package__platform ecui-home__package__platform_ebay"></i>
                            </p>
                            <ul class="ecui-home__package__list">
                                <li>产品采集数量（个/月）<span class="ecui-text-highlight ecui-float-right">8,000</span></li>
                                <li>产品采集数量（个/年）<span class="ecui-text-highlight ecui-float-right">100,000</span></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__btn-area">
                            <a class="ecui-home__package__btn" href="javascript:;">立即开通</a>
                        </div>
                    </div>
                </div>
                <div class="ecui-flex__item">
                    <div class="ecui-home__package ecui-home__package_3">
                        <div class="ecui-home__package__hd">
                            <p class="ecui-home__package__title">全版本</p>
                            <p class="ecui-home__package__desc">爬虫批量采集+大数据分析</p>
                            <div class="ecui-home__package__price">
                                <p class="ecui-home__package__price__label">
                                    <span class="ecui-home__package__price__numb">50,000</span>元/年
                                    <br>
                                    <small>每月价格：￥5,000 元/年</small>
                                </p>
                            </div>
                        </div>

                        <div class="ecui-home__package__bd">
                            <p class="ecui-text-justify">
                                <span class="ecui-inline-block ecui-align-middle">采集平台：</span>
                                <i class="ecui-home__package__platform ecui-home__package__platform_ebay"></i>
                                <i class="ecui-home__package__platform ecui-home__package__platform_amazeon"></i>
                                <i class="ecui-home__package__platform ecui-home__package__platform_wish"></i>
                                <i class="ecui-home__package__platform ecui-home__package__platform_aliexpress"></i>
                            </p>
                            <ul class="ecui-home__package__list">
                                <li>产品采集数量（个/月）<span class="ecui-text-highlight ecui-float-right">8,000</span></li>
                                <li>产品采集数量（个/年）<span class="ecui-text-highlight ecui-float-right">100,000</span></li>
                            </ul>
                        </div>

                        <div class="ecui-home__package__btn-area">
                            <a class="ecui-home__package__btn" href="javascript:;">立即开通</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.ecui-tab').on('click', '.ecui-tab__nav__item', function () {
        var index = $(this).index()

        $(this).addClass('ecui-tab__nav__item_active')
            .siblings().removeClass('ecui-tab__nav__item_active')

        $('.ecui-tab__page', '.ecui-tab')
            .eq(index).addClass('ecui-tab__page_in')
            .siblings().removeClass('ecui-tab__page_in')
    })
</script>
