<div class="ecui-container">
    <div class="ecui-home__panel">
        <div class="ecui-home__panel__hd">
            <p class="ecui-home__panel__title">功能清单</p>
        </div>
        <div class="ecui-home__panel__bd">
            <table class="ecui-home__table ecui-home__table_border">
                <thead>
                    <tr class="ecui-bg-active">
                        <th width="100" align="center">分类</th>
                        <th width="160" align="center">模块</th>
                        <th width="160" align="center">功能名称</th>
                        <th>功能详情</th>
                    </tr>
                </thead>

                <!-- 产品库 -->
                <tbody>
                    <tr>
                        <td align="center" rowspan="10">
                            <h3>产<br>品<br>库</h3>
                        </td>
                        <td align="center" rowspan="4">产品管理</td>
                        <td align="center">爆款开发</td>
                        <td>从各平台爬取筛选出的产品</td>
                    </tr>
                    <tr>
                        <td align="center">易仓盒子</td>
                        <td>从货源对接平台采集产品</td>
                    </tr>
                    <tr>
                        <td align="center">产品库</td>
                        <td>所有来源产品资料的汇总</td>
                    </tr>
                    <tr>
                        <td align="center">产品映射</td>
                        <td>维护产品SKU和平台SKU的对应关系</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center" rowspan="3">导入/导出</td>
                        <td align="center">导入产品</td>
                        <td>批量导入产品</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">导出模板设置</td>
                        <td>自定义导出模板</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">下载产品报告</td>
                        <td>下载已按导出模板汇总的产品数据</td>
                    </tr>
                    <tr>
                        <td align="center" rowspan="3">设置</td>
                        <td align="center">自定义属性</td>
                        <td>维护产品资料中自定义属性</td>
                    </tr>
                    <tr>
                        <td align="center">系统分类</td>
                        <td>维护产品的系统分类</td>
                    </tr>
                    <tr>
                        <td align="center">货源账号授权</td>
                        <td>授权要进行产品采集的平台账号</td>
                    </tr>
                </tbody>

                <!-- 平台 -->
                <tbody>
                    <tr>
                        <td align="center" rowspan="33">
                            <h3>平<br>台</h3>
                        </td>
                        <td class="ecui-bg-active" align="center" rowspan="6">
                            <img src="./common/img/home/platform_ebay.png" alt="ebay">
                        </td>
                        <td class="ecui-bg-active" align="center">常用组合</td>
                        <td class="ecui-bg-active">配件兼容列表、物品所在地、买家要求、不运送地区、运送选项、退货政策、付款政策、卖家描述、关联营销、描述模板</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">常用模板</td>
                        <td>描述模板设置、刊登模板、折扣模板</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">刊登管理</td>
                        <td>eBay草稿、eBay商品（产品搬家）</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">工具</td>
                        <td>广告活动、折扣日程管理、刊登日程管理（定时发布）、议价、自动规则（自动补货、自动重新刊登、自动调价）</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">统计</td>
                        <td>eBay刊登、eBay Item转化率</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">设置</td>
                        <td>店铺账号授权、paypal关联</td>
                    </tr>
                    <tr>
                        <td align="center" rowspan="4">
                            <img src="./common/img/home/platform_aliexpress.png" alt="aliexpress">
                        </td>
                        <td align="center">常用模板</td>
                        <td>运费模板、服务模板、信息模板、刊登模板</td>
                    </tr>
                    <tr>
                        <td align="center">刊登管理</td>
                        <td>Aliexpress草稿、Aliexpress商品（产品搬家）</td>
                    </tr>
                    <tr>
                        <td align="center">工具</td>
                        <td>图片银行、刊登日程管理（定时发布）</td>
                    </tr>
                    <tr>
                        <td align="center">设置</td>
                        <td>店铺账号授权、延长有效期设置</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center" rowspan="4">
                            <img src="./common/img/home/platform_wish.png" alt="wish">
                        </td>
                        <td align="center">刊登管理</td>
                        <td>WISH草稿、WISH商品（产品搬家）</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">统计</td>
                        <td>WISH刊登</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">工具</td>
                        <td>广告活动、刊登日程管理（定时发布）</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">设置</td>
                        <td>店铺账号授权、配送设置、仓库管理、运费模板、刊登模板</td>
                    </tr>
                    <tr>
                        <td align="center" rowspan="3">
                            <img src="./common/img/home/platform_amazon.png" alt="amazon">
                        </td>
                        <td align="center">刊登管理</td>
                        <td>Amazon草稿、Amazon商品（产品搬家）、Amazon待审核、批量上传</td>
                    </tr>
                    <tr>
                        <td align="center">工具</td>
                        <td>刊登日程管理（定时发布）</td>
                    </tr>
                    <tr>
                        <td align="center">设置</td>
                        <td>店铺账号授权、品牌备案设置、Amazon设置、刊登模板</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center" rowspan="2">
                            <img src="./common/img/home/platform_lazada.png" alt="lazada">
                        </td>
                        <td align="center">刊登管理</td>
                        <td>Lazada草稿、Lazada商品（产品搬家）</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">设置</td>
                        <td>店铺账号授权、刊登模板（定时发布）</td>
                    </tr>
                    <tr>
                        <td align="center" rowspan="2">
                            <img src="./common/img/home/platform_shopee.png" alt="shopee">
                        </td>
                        <td align="center">刊登管理</td>
                        <td>Shopee草稿、Shopee商品（产品搬家）</td>
                    </tr>
                    <tr>
                        <td align="center">设置</td>
                        <td>店铺账号授权、刊登模板（定时发布）</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center" rowspan="2">
                            <img src="./common/img/home/platform_joom.png" alt="joom">
                        </td>
                        <td align="center">刊登管理</td>
                        <td>Joom草稿、Joom商品（产品搬家）</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">设置</td>
                        <td>店铺账号授权</td>
                    </tr>
                    <tr>
                        <td align="center" rowspan="2">
                            <img src="./common/img/home/platform_walmart.png" alt="walmart">
                        </td>
                        <td align="center">刊登管理</td>
                        <td>Walmart草稿、Walmart商品</td>
                    </tr>
                    <tr>
                        <td align="center">设置</td>
                        <td>店铺账号授权</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center" rowspan="2">
                            <img src="./common/img/home/platform_fyndiq.png" alt="fyndiq">
                        </td>
                        <td align="center">刊登管理</td>
                        <td>Fyndiq草稿、Fyndiq商品</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">设置</td>
                        <td>店铺账号授权</td>
                    </tr>
                    <tr>
                        <td align="center" rowspan="2">
                            <img src="./common/img/home/platform_alobom.png" alt="alobom">
                        </td>
                        <td align="center">刊登管理</td>
                        <td>Alabom草稿、Alabom商品</td>
                    </tr>
                    <tr>
                        <td align="center">设置</td>
                        <td>店铺账号授权</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center" rowspan="2">独立站</td>
                        <td align="center">刊登管理</td>
                        <td>LIKESHOP草稿、LIKESHOP商品</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">设置</td>
                        <td>店铺账号授权</td>
                    </tr>
                    <tr>
                        <td align="center" rowspan="2">自定义平台</td>
                        <td align="center">产品管理</td>
                        <td>平台草稿、平台商品</td>
                    </tr>
                    <tr>
                        <td align="center">设置</td>
                        <td>店铺账号授权</td>
                    </tr>
                </tbody>

                <!-- 其他 -->
                <tbody>
                    <tr>
                        <td align="center" rowspan="6">
                            <h3>其<br>他</h3>
                        </td>
                        <td class="ecui-bg-active" align="center" rowspan="2">图片库</td>
                        <td class="ecui-bg-active" align="center">图片分类</td>
                        <td class="ecui-bg-active">维护图片分类</td>
                    </tr>
                    <tr class="ecui-bg-active">
                        <td align="center">图片中心</td>
                        <td>图片快速匹配</td>
                    </tr>
                    <tr>
                        <td align="center" rowspan="4">系统管理</td>
                        <td align="center">基础数据</td>
                        <td>国家管理、国家分类、货币管理</td>
                    </tr>
                    <tr>
                        <td align="center">平台设置</td>
                        <td>产品ID号码池、SKU生成规则、平台语言设置、售价计算规则、自定义标签</td>
                    </tr>
                    <tr>
                        <td align="center">用户设置</td>
                        <td>用户中心、用户店铺权限</td>
                    </tr>
                    <tr>
                        <td align="center">系统配置</td>
                        <td>系统配置、水印设置</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
