<div class="ecui-bg-wave">
    <img class="ecui-bg-wave__top" src="./common/img/home/home_panel_wave.png" alt="">
    <div class="ecui-home__panel">
        <div class="ecui-home__panel__hd">
            <p class="ecui-home__panel__title">常见问题</p>
        </div>
        <div class="ecui-container">
            <div class="ecui-home__panel__bd">
                <div class="ecui-home__question ecui-float-left">
                    <p class="ecui-home__question__title">Q：试用期是否需要额外付费？</p>
                    <p class="ecui-home__question__answer">试用期无需额外付费，刊登Listing所有功能均有14天免费试用，爆款</p>
                    <p class="ecui-home__question__answer">开发引擎试用期仅限采集10个产。</p>
                    <p class="ecui-home__question__title">Q：试用到期会如何？</p>
                    <p class="ecui-home__question__answer">14天试用到期后，数据都将安全保留，充值付费后可以继续使用。</p>
                </div>
                <div class="ecui-home__question ecui-float-right">
                    <p class="ecui-home__question__title">Q：图片空间的图片存储在哪？</p>
                    <p class="ecui-home__question__answer">试用期无需额外付费，刊登Listing所有功能均有14天免费试用，爆款</p>
                    <p class="ecui-home__question__answer">开发引擎试用期仅限采集10个产。</p>
                    <p class="ecui-home__question__title">Q：购买爆款开发引擎套餐有什么优惠？</p>
                    <p class="ecui-home__question__answer">按年支付较按月支付可省￥6001，开通全版本更划算。</p>
                </div>
            </div>
        </div>
    </div>
</div>
