<div class="ecui-home__banner">
    <div class="ecui-home__banner__bg">
        <img src="./common/img/home/home_banner.png" alt="">
    </div>
    <div class="ecui-home__banner__bd">
        <div class="ecui-home__banner__text-area">
            <p class="ecui-home__banner__title">易仓刊登系统（EC Listing）</p>
            <p class="ecui-home__banner__desc">免费14天全功能试用</p>
        </div>
        <div class="ecui-home__banner__btn-area">
            <a class="ecui-home__banner__btn" href="javascript:;">立即免费体验</a>
        </div>
    </div>
</div>