.ecui-titlebar__btn {
    padding: 0 22px;
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
.ecui-titlebar__btn_primary {
    background: #00A4FF;
    color: #fff;

    &:hover {
        background-color: #19a7f0;
    }

    &:active {
        background-image: none;
        background-color: #0e93d7;
    }
}
.ecui-titlebar__btn_link {
    color: inherit;
}